.masterpiece-section {
  position: relative;
  height: 150vh;
  overflow-x: hidden;
  padding-left: 10%;
  padding-right: 10%;
}

.masterpiece-title-wrapper {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
}

.masterpiece-title {
  font-size: 10rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: #fff;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  position: relative;
  z-index: 11;
  opacity: 1;
  transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  margin-bottom: 2rem;
}

.title-image {
  width: 280px;
  height: 120px;
  object-fit: cover;
  border-radius: 7px;
  margin: 2rem 0;
  box-shadow: 0 25px 60px rgba(255, 255, 255, 0.25);
  transform: scale(1);
  transition: none;
  will-change: transform;
}

.masterpiece-content {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  contain: layout paint;
  will-change: opacity, transform;
  width: auto;
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
  backdrop-filter: blur(2.5rem);
  background-color: #0000007a;
  margin-top: 150px;
}

.masterpiece-content.visible {
  opacity: 1;
  transform: translateY(0);
}

.masterpiece-content h2 {
  font-size: 3.5rem;
  color: #d4af37;
  margin-bottom: 1.5rem;
  font-family: "Playfair Display", serif;
  position: relative;
  display: inline-block;
}

.masterpiece-content h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background: linear-gradient(90deg, transparent, #d4af37, transparent);
}

.project-desc {
  text-align: center;
  font-size: 1.2rem;
  color: #ccc;
  max-width: 700px;
  margin: 0 auto 2rem;
}
.tag-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1rem 2rem;
  justify-content: center;
  align-items: start;
  margin-bottom: 2.5rem;
}

.tag {
  background: #1a1a1a;
  padding: 0.75rem 1.25rem;
  border-radius: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.02),
    0 2px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}
.btn {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .masterpiece-title {
    font-size: 3.3rem;
  }

  .title-image {
    width: 100px;
    height: 100px;
  }

  .masterpiece-content {
    padding: 1.5rem;
  }

  .masterpiece-content h2 {
    font-size: 2.5rem;
  }

  .tag-grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .view-details-btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
}
