:root {
  --bg-dark: #0b0b0b;
  --surface-dark: #1e1e1e;
  --primary: #f0b429;
  --secondary: #9eff00;
  --accent: #ffffff;

  --text-light: #e6e6e6;
  --text-muted: #aaaaaa;
  --border-color: #2c2c2c;
  --text-color: #c0c0c0;
  --success: #2ecc71;
  --error: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #ffffff;
  color: #333;
}
