.services-section {
  background-color: var(--bg-dark);
  padding: 60px 20px;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
}

.services-section h3 {
  color: var(--text-light);
}
.services-section p {
  color: var(--text-muted);
}

/* Heading Content */
.services-heading-content {
  padding: 100px 20px;
  border-radius: 12px;
  max-width: 900px;
  margin: 0 auto;
}
.services-heading-title {
  font-size: 2.5rem;
  color: var(--secondary);
  letter-spacing: 1.5px;
  font-weight: 700;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.services-description {
  max-width: 700px;
  margin: 0 auto 30px;
  font-size: 1.2rem;
  opacity: 0.9;
}

/* Services Grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Service Card */
.service-card {
  background-color: var(--surface-dark);
  border-radius: 16px;
  padding: 40px 25px;
  text-align: center;
  color: var(--text-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 20px rgba(227, 242, 19, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;
  text-decoration: none;
}

.service-card:hover {
  transform: translateY(-4px);
  box-shadow: rgba(247, 247, 45, 0.387) 0px 14px 18px,
    rgba(135, 134, 134, 0.22) 0px 10px 10px;
}

/* "Learn More" Text */
.learn-more-text {
  margin-top: 10px;
  display: block;
  color: var(--secondary);
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease;
}

.service-card:hover .learn-more-text {
  color: #f1d1ac;
  transform: translateX(4px);
  text-shadow: 0 0 6px rgba(172, 185, 135, 0.5);
}

/* Services Heading Image */
.services-heading {
  background-image: url("/public/oyu.jpeg ");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 40px;
}

/* Responsive Tweaks */
@media (max-width: 600px) {
  .services-heading-title {
    font-size: 2rem;
  }

  .service-card {
    padding: 30px 20px;
  }
}
